<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
    
    </p>
    </div>

    <div class="row" id="mission_to_mars">
        <div class="col-md-12">
            <h2>Latest Mars News</h2>
    </div>
       
      <div class="col-md-12">
        <h4>{{mars_data.title}}</h4>
        <p> {{mars_data.news_p}} </p>
     
      <div class="col-md-4">
           <h4>Current Weather on Mars</h4>
           <p> {{mars_data.mars_weather}}
           </p>
       </div>
       <div class="col-md-12">     
         <h3>Mars Facts</h3>              
        <table class="table table-bordered">
             {{mars_data.table|safe}}
        <br>
       </div>
      
    </div>
    <h2>Featured Mars Image</h2>
    <img src= {{mars_data.featured_image}} class="float-right">
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center;">Mars Hemispheres</h2>
         
        <div class="col-md-12">
            <img src={{mars_data.img_url}} alt="" style="width:100%">
            <h3>{{mars_data.hemisphere_title}}</h3>
          <br>
          <br>
          </div>     
                      
          <img src={{mars_data.img_url2}} alt="" style="width:100%">
            <h3>{{mars_data.hemisphere_title2}}</h3>
          <br> 
          <br>

          <img src={{mars_data.img_url3}} alt="" style="width:100%">
             <h3>{{mars_data.hemisphere_title3}}</h3>
          <br>
          <br>
          <img src={{mars_data.img_url4}} alt="" style="width:100%">
              <h3>Valles Marineris Enhanced</h3>     
      </div>
    </body>
</html>


